{% extends 'admin/model/details.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
{% endblock %}
{% block body %}
    <input type="hidden" id="bathymetry_id" value="{{model.id}}" />
    {{ super() }}
    <!-- add a leaflet map -->
    <div class="tab">
      <button class="tablinks" id="mapButton" onclick="openTab(event, 'map_view')">Map view</button>
      <button class="tablinks" id="csButton" onclick="openTab(event, 'cs_view')">Cross-section view</button>
    </div>
    <!-- Tab content -->
    <div id="map_view" class="tabcontent">
    <span class="info-text">
        Map view<span class="info fa-info-circle fa-sm" title="Check if your bathymetry covers the site. You should see a red line passing over the stream at your selected site"></span>
    </span>
    <div id="map" style="height: 520px; margin-top: 2em; margin-bottom: 2em;"></div>
    </div>

    <div id="cs_view" class="tabcontent">
    <span class="info-text">
        Cross-section view<span class="info fa-info-circle fa-sm" title="Check if your cross-section spand the correct levels from left-bank to right-bank, whilst looking downstream."></span>
    </span>
    <figure class="highcharts-figure">
        <div id="cross_section"></div>
    </figure>
    </div>


{% endblock %}
{% block tail %}
    {{ super() }}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin="">
    </script>
    <script src="{{ url_for('static', filename='bathymetry_details.js') }}"></script>
{% endblock %}
