{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}

{% block body %}
  {% block navlinks %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="{{ return_url }}">{{ _gettext('List') }}</a>
    </li>
    {%- if admin_view.can_create -%}
    <li class="nav-item">
        <a class="nav-link" href="{{ get_url('.create_view', url=return_url) }}">{{ _gettext('Create') }}</a>
    </li>
    {%- endif -%}
    {%- if admin_view.can_edit -%}
    <li class="nav-item">
        <a class="nav-link" href="{{ get_url('.edit_view', id=request.args.get('id'), url=return_url) }}">{{ _gettext('Edit') }}</a>
    </li>
    {%- endif -%}
    <li class="nav-item">
        <a class="nav-link active disabled" href="javascript:void(0)">{{ _gettext('Details') }}</a>
    </li>
  </ul>
  {% endblock %}

  {% block details_table %}
    <table class="table table-hover table-bordered searchable">
    {% for c, name in details_columns %}
      <tr>
        <td>
          <b>{{ name }}</b>
        </td>
        <td>
        {{ get_value(model, c) }}
        </td>
      </tr>
    {% endfor %}
    {% if model.status.name == 'MOVIE_STATUS_ERROR' %}
      <tr>
        <td>
          <b>Error</b>
        </td>
        <td>
        {{ get_value(model, 'error_message') }}
        </td>
      </tr>
    {% endif %}
    </table>
  {% endblock %}
    <div class="tab">
      <button class="tablinks" id="snapshotButton" onclick="openTab(event, 'snapshot_view')">Lens corrected snapshot</button>
      <button class="tablinks" id="PIVButton" onclick="openTab(event, 'piv_view')">PIV results</button>
    </div>
    <!-- Tab content -->
    <div id="snapshot_view" class="tabcontent">
    {% if model.status.name != 'MOVIE_STATUS_NEW' and model.status.name != 'MOVIE_STATUS_ERROR' %}
      <span class="info-text">
        Lens corrected snapshot<span class="info fa-info-circle fa-sm" title="The figure shows the first lens corrected frame from the movie"></span>
      </span>
    <img src="/api/visualize/get_snapshot/{{model.id}}"  style="width:100%;" />
      {% else %}
      <p>Snapshot not yet available</p>
    {% endif %}

    </div>

    <div id="piv_view" class="tabcontent">
    <span class="info-text">
        PIV results<span class="info fa-info-circle fa-sm" title="The figure below shows the median estimated velocities as yellow colored arrows. Hover over them to see the velocity."></span>
    </span>
  {% if model.status.name == 'MOVIE_STATUS_FINISHED' %}
    <hr/>
<!--    <h4>PIV results</h4>-->
    <div class="container" style="overflow: scroll">
    <figure class="highcharts-figure">
        <div id="piv-plot" style="overflow: scroll"></div>
    </figure>
    </div>
  {% endif %}
    </div>
{% endblock %}

{% block tail %}
  {{ super() }}
  <script src="{{ admin_static.url(filename='admin/js/details_filter.js', v='1.0.0') }}"></script>
  {% if model.status.name == 'MOVIE_STATUS_FINISHED' %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/vector.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="{{ url_for('static', filename='movie_details.js') }}"></script>
    <script>
        $(function() {
            $("#piv-plot").plotPIV({{ get_value(model, 'id') }}, {{ "`{}`".format(get_value(model, 'file_name')) }});
        });
    </script>
  {% endif %}
{% endblock %}