{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}
{% from 'admin/lib.html' import extra with context %} {# backward compatible #}

{% block head %}
  {{ super() }}
  {{ lib.form_css() }}
{% endblock %}

{% block body %}
  {% block navlinks %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="{{ return_url }}" class="nav-link">{{ _gettext('List') }}</a>
    </li>
    {%- if admin_view.can_create -%}
    <li class="nav-item">
        <a href="{{ get_url('.create_view', url=return_url) }}" class="nav-link">{{ _gettext('Create') }}</a>
    </li>
    {%- endif -%}
    <li class="nav-item">
        <a href="javascript:void(0)" class="nav-link active">{{ _gettext('Edit') }}</a>
    </li>
    {%- if admin_view.can_view_details -%}
    <li class="nav-item">
        <a class="nav-link" href="{{ get_url('.details_view', id=request.args.get('id'), url=return_url) }}">{{ _gettext('Details') }}</a>
    </li>
    {%- endif -%}
  </ul>
  {% endblock %}
  {% block edit_form %}
    <span class="info-text">
        Edit movie analysis<span class="info fa-info-circle fa-sm" title="Provide or modify the time stamp of the movie and read the water level"></span>
    </span>

    <form action="{{ action or '' }}" method="POST" role="form" class="admin-form" enctype="multipart/form-data">
    <fieldset>
        {{ details_columns  }}
        {{ lib.render_form_fields(form, form_opts=form_opts) }}
        <div class="form-group ">
            <label class="control-label">Snapshot</label>
            {% if model.status.name == 'MOVIE_STATUS_NEW' or model.status.name == 'MOVIE_STATUS_ERROR' %}
                <p>Not yet available, wait for frames extraction.</p>
            {% else %}
                <img src="/api/visualize/get_snapshot/{{model.id}}"  style="width:100%;" />
            {% endif %}
        </div>
        {{ lib.render_form_buttons(return_url, extra(), False) }}

    </fieldset>
    </form>
  {% endblock %}
{% endblock %}

{% block tail %}
  {{ super() }}
  {{ lib.form_js() }}
{% endblock %}