{% extends 'admin/model/edit.html' %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    {{ super() }}
    <hr/>
    <span class="info-text">
        Rating curve<span class="info fa-info-circle fa-sm" title="Investigate and edit the rating curve by hovering and clicking on rating points.
The uncertainty band are very conservative, as all uncertainties work are assumed
to be entirely correlated."></span>
    </span>
    <input type="hidden" id="ratingcurve_id" value="{{model.id}}" />
    <figure class="highcharts-figure" style="width: 700px; overflow: hidden;">
        <div id="rating-curve"></div>
    </figure>

{% endblock %}
{% block tail %}

    {{ super() }}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/vector.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
<!--    <script src="{{ url_for('static', filename='ratingcurve.js') }}"></script>-->
    <script>
    $(document).ready(function () {
        field_a = document.getElementById('a');
        field_b = document.getElementById('b');
        field_h0 = document.getElementById('h0');
        var ratingpoints = []
        var boxplot_data = [];  // 6-length arrays where the first value is the x-coordinate, and last 5 values the low to high quantiles
        {% for row in model.ratingpoints %}
            // collect data for scatter plot
            ratingpoints.push({
                x: {{ row.movie.actual_water_level }},
                y: {{ row.movie.discharge_q50 }},
                name: {{ row.movie_id }},
                include: {{ 'true' if row.include else 'false' }}
                // TODO: add an "include"  boolean in the datamodel for rating points.
            });
        // collect the data for the quantile plots
            boxplot_data.push([
                {{ row.movie.actual_water_level }},
                {{ row.movie.discharge_q05 }},
                {{ row.movie.discharge_q25 }},
                {{ row.movie.discharge_q50 }},
                {{ row.movie.discharge_q75 }},
                {{ row.movie.discharge_q95 }},
            ]);
        {% endfor %}

        var siteId = {{ model.ratingpoints[0].movie.config.camera.site.id }}
        var name = "{{ model.ratingpoints[0].movie.config.camera.site.name }}"
        // below, all plotting functions are defined
        function getChart(){
            Chart = Highcharts.chart('rating-curve', {
                chart: {scrollbars: {enable: false}
                },
                title: {
                    text: 'Rating Curve for ' + name
                },
                xAxis: {
                    title: {
                        enabled: true,
                        text: 'Level [m]'
                    },
                    min: 0,
                    gridLineWidth: 0,
                    visible: true,
                    startOnTick: true,
                    endOnTick: true,
                    showLastLabel: true
                },
                yAxis: {
                    title: {
                        enabled: true,
                        text: 'Discharge [m3/s]'
                    },

                    min: 0,
                    gridLineWidth: 0,
                    visible: true,
                    startOnTick: true,
                    endOnTick: true,
                    showLastLabel: true
                },
                legend: {
                    layout: 'vertical',
                    align: 'left',
                    verticalAlign: 'top',
                    x: 100,
                    y: 70,
                    floating: true,
                    backgroundColor: Highcharts.defaultOptions.chart.backgroundColor,
                    borderWidth: 0
                },

                plotOptions: {
                    scatter: {
                        cursor: 'pointer',
                        marker: {
                            symbol: 'circle',
                            radius: 5,
                            states: {
                                hover: {
                                    enabled: true,
                                    lineColor: 'rgb(100,100,100)'
                                }
                            }
                        },
                        states: {
                            hover: {
                                marker: {
                                    enabled: true
                                }
                            }
                        },
                        point: {
                            events: {
                                click: function () {
                                    if (this.include == true) {
                                        this.include = false;
                                    }
                                    else {
                                        this.include = true;
                                    }
                                    // refit on the data
                                    updateRatingCurve();


                                }
                            }
                        }
                    }
                },
                tooltip: {
                  useHTML: true,
                  style: {
                    pointerEvents: 'auto'
                  }
                },

                series: [
                    {
                        type: 'boxplot',
                        name: 'Rating uncertainty',
                        color: 'rgba(70, 90, 255, 1.0)',
                        data: boxplot_data,
                        turboThreshold: 0, // Required for datasets covering more than 1k points.
                    },
                    {
                        tooltip: {
                            useHTML: true,
                            headerFormat: '<b>{series.name}</b><br>',
                            pointFormatter: function() {
                                var string = 'id: ' + this.name + ', ' + this.x.toFixed(4) + ' m, ' + this.y.toFixed(4) +
                                    ' m3/s<br>';
                                string += 'Click <a href="/portal/movies/details/?id=' + this.name +
                                    '&url=%2Fportal%2Fmovies%2F" target="_blank">here</a> to inspect';
                                return string;
                            }
                        },
                        type: 'scatter',
                        zoomType: 'xy',
                        name: 'Rating points',
                        color: 'rgba(255, 70, 90, 1.0)',
                        data: ratingpoints,
                        turboThreshold: 0, // Required for datasets covering more than 1k points.
                    },
                ],
                exporting: {
                    buttons: {
                        contextButton: {
                            menuItems: ['downloadPNG']
                        }
                    }
                }
            });
            return Chart;
        }
        function updateColorPoints() {
            var series = Chart.series[1]
            for ( var i = 0; i < series.points.length; i++ ) {
                point = series.points[i]
                if ( point.include == true ) {
                    point.color = 'rgba(255, 70, 90, 1.0)'
                }
                else {
                    point.color = 'rgba(0, 0, 0, 0.35)'
                }
                // color point according to color code
            }
            series.redraw();
        }

        function updateChart (pars) {
            h = [];
            for (var i = 0; i < ratingpoints.length; i++) {
                h.push(ratingpoints[i].x);
            }
            // make a set of samples for h to plot the fit in
            var hmin = Math.min(...h);
            var hmax = Math.max(...h);
            var hint = (hmax - hmin) / 1000;
            var hrange = [];
            var hcur = hmin;
            for (var i = 0; i < 1000; i++) {
                hrange.push(hcur)
                hcur += hint;
                }

            // retrieves data from existing chart, sends to server to retrieve a fit and plots that fit
    //        samples = readSamples()
            data = hrange.map(function(e, i) {
                          return [e, pars.a*Math.pow(Math.max(e-pars.h0, 0), pars.b)];
                      })
            if ( Chart.series.length > 2 ) {
                // replace data of existing graph
                Chart.series[2].setData(data);
            }
            else {
                Chart.addSeries({
                    type: 'line',
                    hover: false,
                    zoomType: 'xy',
                    name: 'Rating curve fit',
                    color: 'rgba(200, 200, 200, 1)',
                    marker: {
                        enabled: false
                    },
                    data: data,
                    turboThreshold: 0, // Required for datasets covering more than 1k points.
                    enableMouseTracking: false
                });
            }
            Chart.setSubtitle ({
                text: 'Q = ' + pars.a.toFixed(2) + ' * (h - ' + pars.h0.toFixed(2) + ' )^' +
                    pars.b.toFixed(2)
            });
            // change field values
            field_a.value = pars.a;
            field_b.value = pars.b;
            field_h0.value = pars.h0;
        }
        function updateRatingCurve () {
            // read samples and their current state from the graph
            scatter = Chart.series[1].data;
            var samples = {water_level: [], discharge: [], include: []};
            for (var i = 0; i < scatter.length; i++) {
                if (scatter[i].include == true) {
                    samples.water_level.push(parseFloat(scatter[i].x))
                    samples.discharge.push(parseFloat(scatter[i].y))

                }
            }
            // fit new rating curve parameters
            $.getJSON(
            `/api/visualize/get_rating_curve/${siteId}`,
            {

                water_level: JSON.stringify(samples.water_level),
                discharge: JSON.stringify(samples.discharge)
            },
            function(data){
                updateChart(data);  // redraw the rating curve fitted line
                updateColorPoints();  // update the colors of scatter points
            });
        }
        // test the functions below
        Chart = getChart();
        updateRatingCurve();

        $('form.admin-form').submit(function( event ) {
            // Prevent submit.
            event.preventDefault();
            // Prevent double actions.
            $('button[type=submit], input[type=submit]').prop('disabled',true);

            const id = $('input#ratingcurve_id').val();
            const form = this;
            const ratingpoints = [];

            scatter = Chart.series[1].data;
            for (var i = 0; i < scatter.length; i++) {
                ratingpoints.push({ movie_id: scatter[i].name, include: !!scatter[i].include });
            }

            $.ajax({
                type: 'POST',
                url: `/api/ratingpoints/${id}`,
                data: JSON.stringify({ "ratingpoints": ratingpoints }),
                contentType: "application/json",
                dataType: 'json',
                // Submit parent form on success.
                success: function() { form.submit(); },
                // Enable save button again.
                error: function() { $('button[type=submit], input[type=submit]').prop('disabled',false); }
            });
        });

    });
    </script>
{% endblock %}
