{% extends 'admin/model/edit.html' %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    {{ super() }}
    <hr/>
    <h4>Rating curve</h4>
    <figure class="highcharts-figure">
        <div id="rating-curve"></div>
    </figure>

{% endblock %}
{% block tail %}

    {{ super() }}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/vector.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="{{ url_for('static', filename='ratingcurve.js') }}"></script>
    <script>
        var data = []
        {% for row in ratingpoints %}
            data.push({
                x: {{ row.movie.actual_water_level }},
                y: {{ row.movie.discharge_q50 }},
                name: {{ row.id }},
                // TODO: add an "include"  boolean in the datamodel for rating points.
            });
        {% endfor %}
        console.log(data);
        // TODO: insert javascript code for charts and recomputation
        // TODO: update state of rating points based on change in selections
    </script>
{% endblock %}
