{% extends 'cameraconfig/edit.html' %}

{% block body %}
  {{ super() }}
  {% block edit_form %}
    <span class="info-text">Ground control points<span class="info fa-info-circle fa-sm"
        title="Select 4 ground control points in the frame. Provide the X and Y coordinate of each ground control point. Use
            the colors to identify which marker belongs to which coordinate."></span>
    </span>

    {% call lib.form_tag(action=action) %}
        <div style="position: relative">
            <img id="snapshot-gcps" src="/api/visualize/get_snapshot/{{movie.id}}"  style="width:100%;" />
            <canvas id="snapshot-gcps-canvas" width="100%" height="100%" style="width: 100%; height:100%; position: absolute; left: 0; top: 0;"></canvas>
        </div>
        <div style="margin: 20px 0">
            <table id="gcps">
                <tr>
                    <th width="100">Color</th>
                    <th width="50" style="text-align: center">Pixel X [column]</th>
                    <th width="50" style="text-align: center">Pixel Y [row]</th>
                    <th width="50" style="text-align: center">Coordinate X [m]</th>
                    <th width="50" style="text-align: center">Coordinate Y [m]</th>
                </tr>
                <tr>
                    <td>Red {{h.is_field_error(form.gcps_src_0_y.errors)}}</td>
                    <td>{{ form.gcps_src_0_x(**{'readonly':True,'class': 'form-control is-invalid' if h.is_field_error(form.gcps_src_0_x.errors) else 'form-control'})|safe }}</td>
                    <td>{{ form.gcps_src_0_y(**{'readonly':True,'class': 'form-control is-invalid' if h.is_field_error(form.gcps_src_0_y.errors) else 'form-control'})|safe }}</td>
                    <td>{{ form.gcps_dst_0_x(**{'class': 'form-control is-invalid' if h.is_field_error(form.gcps_dst_0_x.errors) else 'form-control'})|safe }}</td>
                    <td>{{ form.gcps_dst_0_y(**{'class': 'form-control is-invalid' if h.is_field_error(form.gcps_dst_0_y.errors) else 'form-control'})|safe }}</td>
                </tr>
                <tr>
                    <td>Green</td>
                    <td>{{ form.gcps_src_1_x(**{'readonly':True,'class': 'form-control is-invalid' if h.is_field_error(form.gcps_src_1_x.errors) else 'form-control'})|safe }}</td>
                    <td>{{ form.gcps_src_1_y(**{'readonly':True,'class': 'form-control is-invalid' if h.is_field_error(form.gcps_src_1_y.errors) else 'form-control'})|safe }}</td>
                    <td>{{ form.gcps_dst_1_x(**{'class': 'form-control is-invalid' if h.is_field_error(form.gcps_dst_1_x.errors) else 'form-control'})|safe }}</td>
                    <td>{{ form.gcps_dst_1_y(**{'class': 'form-control is-invalid' if h.is_field_error(form.gcps_dst_1_y.errors) else 'form-control'})|safe }}</td>
                </tr>
                <tr>
                    <td>Blue</td>
                    <td>{{ form.gcps_src_2_x(**{'readonly':True,'class': 'form-control is-invalid' if h.is_field_error(form.gcps_src_2_x.errors) else 'form-control'})|safe }}</td>
                    <td>{{ form.gcps_src_2_y(**{'readonly':True,'class': 'form-control is-invalid' if h.is_field_error(form.gcps_src_2_y.errors) else 'form-control'})|safe }}</td>
                    <td>{{ form.gcps_dst_2_x(**{'class': 'form-control is-invalid' if h.is_field_error(form.gcps_dst_2_x.errors) else 'form-control'})|safe }}</td>
                    <td>{{ form.gcps_dst_2_y(**{'class': 'form-control is-invalid' if h.is_field_error(form.gcps_dst_2_y.errors) else 'form-control'})|safe }}</td>
                </tr>
                <tr>
                    <td>Yellow</td>
                    <td>{{ form.gcps_src_3_x(**{'readonly':True,'class': 'form-control is-invalid' if h.is_field_error(form.gcps_src_3_x.errors) else 'form-control'})|safe }}</td>
                    <td>{{ form.gcps_src_3_y(**{'readonly':True,'class': 'form-control is-invalid' if h.is_field_error(form.gcps_src_3_y.errors) else 'form-control'})|safe }}</td>
                    <td>{{ form.gcps_dst_3_x(**{'class': 'form-control is-invalid' if h.is_field_error(form.gcps_dst_3_x.errors) else 'form-control'})|safe }}</td>
                    <td>{{ form.gcps_dst_3_y(**{'class': 'form-control is-invalid' if h.is_field_error(form.gcps_dst_3_y.errors) else 'form-control'})|safe }}</td>
                </tr>
            </table>
        </div>
        <span class="info-text">Water level<span class="info fa-info-circle fa-sm"
            title="Provide the water level as measured within the chosen coordinate reference system (CRS). Then provide the
            water level as read from the staff gauge or other device used to measure water levels. Make sure you use
            meters as unit."></span>
        </span>
        <div class="form-group ">
            <label for="gcps_z_0" class="control-label">Height of water level in coordinate system [m]
                &nbsp;
            </label>
            {{ form.gcps_z_0(**{'class': 'form-control is-invalid' if h.is_field_error(form.gcps_z_0.errors) else 'form-control'})|safe }}
        </div>
        <div class="form-group ">
            <label for="gcps_h_ref" class="control-label">Staff gauge water level during taking of the gcp points [m]
                &nbsp;
            </label>
            {{ form.gcps_h_ref(**{'class': 'form-control is-invalid' if h.is_field_error(form.gcps_h_ref.errors) else 'form-control'})|safe }}
        </div>
        <span class="info-text">Provide Area of Interest<span class="info fa-info-circle fa-sm"
            title="Select 4 corners for the Area of Interest (AOI). The points need to be widely spaced so that the bathymetry
            is within the AOI. It is very important that you first click on the point on the upstream left bank, then
            the downstream left bank, then the downstream right bank, and finally the upstream right bank. In this
            way the reprojection will be done such that in the end result water will flow from left to right on your
            screen."></span>
        </span>
        <div style="position: relative">
            <img id="snapshot-corners" src="/api/visualize/get_snapshot/{{movie.id}}"  style="width:100%;" />
            <canvas id="snapshot-corners-canvas" width="100%" height="100%" style="width: 100%; height:100%; position: absolute; left: 0; top: 0;"></canvas>
        </div>
        <div style="margin: 20px 0">
            <table id="corners">
                <tr>
                    <th width="100">Color</th>
                    <th width="150">Description</th>
                    <th width="50" style="text-align: center">Pixel X [column]</th>
                    <th width="50" style="text-align: center">Pixel Y [column]</th>
                </tr>
                <tr>
                    <td>Red</td>
                    <td>Upstream left</td>
                    <td>{{ form.corner_up_left_x(**{'readonly':True,'class': 'form-control is-invalid' if h.is_field_error(form.corner_up_left_x.errors) else 'form-control'})|safe }}</td>
                    <td>{{ form.corner_up_left_y(**{'readonly':True,'class': 'form-control is-invalid' if h.is_field_error(form.corner_up_left_y.errors) else 'form-control'})|safe }}</td>
                </tr>
                <tr>
                    <td>Green</td>
                    <td>Downstream left</td>
                    <td>{{ form.corner_down_left_x(**{'readonly':True,'class': 'form-control is-invalid' if h.is_field_error(form.corner_down_left_x.errors) else 'form-control'})|safe }}</td>
                    <td>{{ form.corner_down_left_y(**{'readonly':True,'class': 'form-control is-invalid' if h.is_field_error(form.corner_down_left_y.errors) else 'form-control'})|safe }}</td>
                </tr>
                <tr>
                    <td>Blue</td>
                    <td>Downstream right</td>
                    <td>{{ form.corner_down_right_x(**{'readonly':True,'class': 'form-control is-invalid' if h.is_field_error(form.corner_down_right_x.errors) else 'form-control'})|safe }}</td>
                    <td>{{ form.corner_down_right_y(**{'readonly':True,'class': 'form-control is-invalid' if h.is_field_error(form.corner_down_right_y.errors) else 'form-control'})|safe }}</td>
                </tr>
                <tr>
                    <td>Yellow</td>
                    <td>Upstream right</td>
                    <td>{{ form.corner_up_right_x(**{'readonly':True,'class': 'form-control is-invalid' if h.is_field_error(form.corner_up_right_x.errors) else 'form-control'})|safe }}</td>
                    <td>{{ form.corner_up_right_y(**{'readonly':True,'class': 'form-control is-invalid' if h.is_field_error(form.corner_up_right_y.errors) else 'form-control'})|safe }}</td>
                </tr>
            </table>
        </div>
        <span class="info-text">Camera lens position<span class="info fa-info-circle fa-sm"
            title="Provide the coordinates of the camera lens, expressed in the local CRS"></span>
        </span>

        <div class="form-group ">
            <label for="lens_position_x" class="control-label">Lens coordinate X [m]
                &nbsp;
            </label>
            {{ form.lens_position_x(**{'class': 'form-control is-invalid' if h.is_field_error(form.lens_position_x.errors) else 'form-control'})|safe }}
        </div>
        <div class="form-group ">
            <label for="lens_position_y" class="control-label">Lens coordinate Y [m]
                &nbsp;
            </label>
            {{ form.lens_position_y(**{'class': 'form-control is-invalid' if h.is_field_error(form.lens_position_y.errors) else 'form-control'})|safe }}
        </div>
        <div class="form-group ">
            <label for="lens_position_z" class="control-label">Lens coordinate height [m]
                &nbsp;
            </label>
            {{ form.lens_position_z(**{'class': 'form-control is-invalid' if h.is_field_error(form.lens_position_z.errors) else 'form-control'})|safe }}
        </div>
        <span class="info-text">Resolution<span class="info fa-info-circle fa-sm"
            title="Choose a pixel size in meters for orthoprojection. Typical pixel sizes are 0.01 m"></span>
        </span>
        <div class="form-group ">
            <label for="projection_pixel_size" class="control-label">Pixel size [m]
                &nbsp;
            </label>
            {{ form.projection_pixel_size(**{'class': 'form-control is-invalid' if h.is_field_error(form.projection_pixel_size.errors) else 'form-control'})|safe }}
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 submit-row">
                <input name="_continue_editing" type="submit" class="btn btn-primary" value="{{ _gettext('Next') }}" />
                <a href="{{ return_url }}" class="btn btn-danger" role="button">{{ _gettext('Cancel') }}</a>
            </div>
        </div>
    {% endcall %}
  {% endblock %}
{% endblock %}

{% block tail %}
    {{ super() }}
    <script>
        $(function() {
            const controlPoints = [];
            const corners = [];

            function updatePoints(type, points) {
                const colors = [ 'rgba(207, 0, 15, 0.7)', 'rgba(0, 230, 64, 0.7)', 'rgba(30, 139, 195, 0.7)', 'rgba(247, 202, 24, 0.7)' ];
                const canvas = document.getElementById(`snapshot-${type}-canvas`);
                const context = canvas.getContext('2d');

                // Set canvas dimensions.
                context.canvas.height = $(`#snapshot-${type}`)[0].height;
                context.canvas.width = $(`#snapshot-${type}`)[0].width;
                context.clearRect(0, 0, canvas.width, canvas.height);

                // Clear inputs.
                $(`table#${type} input[readonly="readonly"]`).val('');

                for (const point of points) {
                    // Draw the circle on the canvas.
                    context.save();
                    context.beginPath();
                    context.arc(point.relativeX, point.relativeY, 15, 0, 2 * Math.PI);
                    context.lineWidth = 2;
                    context.fillStyle = colors[point.i];
                    context.stroke();
                    context.fill();
                    context.restore();

                    // Update the inputs in the table.
                    $(`table#${type} tr:eq(${point.i+1}) input:eq(0)`).val(point.absoluteX);
                    $(`table#${type} tr:eq(${point.i+1}) input:eq(1)`).val(point.absoluteY);
                }
            }

            $('#snapshot-gcps-canvas').on('click', (e) => {
                if (controlPoints.length >= 4) {
                    alert('You can only set 4 ground control points, use right mouse click to remove one');
                    return false;
                }
                const relativeX = e.pageX - $('#snapshot-gcps-canvas').offset().left;
                const relativeY = e.pageY - $('#snapshot-gcps-canvas').offset().top;
                const pixelRatio = $('#snapshot-gcps')[0].naturalWidth / $('#snapshot-gcps')[0].width;
                const absoluteX = Math.round(relativeX * pixelRatio);
                const absoluteY = Math.round(relativeY * pixelRatio);

                // Check first available gcps index.
                let index = 0;
                for (let i = 0; i <= 3; i++) {
                    if (!controlPoints.find(cP => cP.i === i)) {
                        index = i;
                        break;
                    }
                }

                controlPoints.push({relativeX, relativeY, absoluteX, absoluteY, i: index });
                updatePoints('gcps', controlPoints);
            });

            $('#snapshot-gcps-canvas').on('contextmenu', (e) => {
                const relativeX = e.pageX - $('#snapshot-gcps-canvas').offset().left;
                const relativeY = e.pageY - $('#snapshot-gcps-canvas').offset().top;

                let closest;
                let closestIndex;
                for (const [i, controlPoint] of Object.entries(controlPoints)) {
                    if (!closest || (Math.pow(controlPoint.relativeX - relativeX, 2) + Math.pow(controlPoint.relativeY - relativeY, 2)) < (Math.pow(closest.relativeX - relativeX, 2) + Math.pow(closest.relativeY - relativeY, 2))) {
                        closest = controlPoint;
                        closestIndex = i;
                    }
                }
                if (closest) {
                    controlPoints.splice(closestIndex, 1);
                    updatePoints('gcps', controlPoints);
                }
                return false;
            });

            $('#snapshot-gcps').on('load', () => {
                const currentPoints = [];
                {% for i in range(4) %}
                    {% if model['gcps_src_{}_x'.format(i)] and model['gcps_src_{}_y'.format(i)] %}
                        currentPoints.push({ i: {{ i }}, absoluteX: {{model['gcps_src_{}_x'.format(i)]}}, absoluteY: {{model['gcps_src_{}_y'.format(i)]}} })
                    {% endif %}
                {% endfor %}

                const pixelRatio = $('#snapshot-gcps')[0].naturalWidth / $('#snapshot-gcps')[0].width;
                for (const cP of currentPoints) {
                    controlPoints.push({ i: cP.i, absoluteX: cP.absoluteX, absoluteY: cP.absoluteY, relativeX: Math.round(cP.absoluteX / pixelRatio), relativeY: Math.round(cP.absoluteY / pixelRatio) });
                }
                updatePoints('gcps', controlPoints);
            });

            $('#snapshot-corners-canvas').on('click', (e) => {
                if (corners.length >= 4) {
                    alert('You can only set 4 corner points, use right mouse click to remove one');
                    return false;
                }
                const relativeX = e.pageX - $('#snapshot-corners-canvas').offset().left;
                const relativeY = e.pageY - $('#snapshot-corners-canvas').offset().top;
                const pixelRatio = $('#snapshot-corners')[0].naturalWidth / $('#snapshot-corners')[0].width;
                const absoluteX = Math.round(relativeX * pixelRatio);
                const absoluteY = Math.round(relativeY * pixelRatio);

                // Check first available corner index.
                let index = 0;
                for (let i = 0; i <= 3; i++) {
                    if (!corners.find(cP => cP.i === i)) {
                        index = i;
                        break;
                    }
                }

                corners.push({relativeX, relativeY, absoluteX, absoluteY, i: index });
                updatePoints('corners', corners);
            });

            $('#snapshot-corners-canvas').on('contextmenu', (e) => {
                const relativeX = e.pageX - $('#snapshot-corners-canvas').offset().left;
                const relativeY = e.pageY - $('#snapshot-corners-canvas').offset().top;

                let closest;
                let closestIndex;
                for (const [i, cornerPoint] of Object.entries(corners)) {
                    if (!closest || (Math.pow(cornerPoint.relativeX - relativeX, 2) + Math.pow(cornerPoint.relativeY - relativeY, 2)) < (Math.pow(closest.relativeX - relativeX, 2) + Math.pow(closest.relativeY - relativeY, 2))) {
                        closest = cornerPoint;
                        closestIndex = i;
                    }
                }
                if (closest) {
                    corners.splice(closestIndex, 1);
                    updatePoints('corners', corners);
                }
                return false;
            });

            $('#snapshot-corners').on('load', () => {
                const currentPoints = [];
                {% set cornerDescription = ['up_left', 'down_left', 'down_right', 'up_right'] %}
                {% for i in range(4) %}
                    {% if model['corner_{}_x'.format(cornerDescription[i])] and model['corner_{}_y'.format(cornerDescription[i])] %}
                        currentPoints.push({ i: {{ i }}, absoluteX: {{model['corner_{}_x'.format(cornerDescription[i])]}}, absoluteY: {{model['corner_{}_y'.format(cornerDescription[i])]}} })
                    {% endif %}
                {% endfor %}

                const pixelRatio = $('#snapshot-corners')[0].naturalWidth / $('#snapshot-corners')[0].width;
                for (const cP of currentPoints) {
                    corners.push({ i: cP.i, absoluteX: cP.absoluteX, absoluteY: cP.absoluteY, relativeX: Math.round(cP.absoluteX / pixelRatio), relativeY: Math.round(cP.absoluteY / pixelRatio) });
                }
                updatePoints('corners', corners)
            });
        });
    </script>
{% endblock %}