{% extends 'cameraconfig/edit.html' %}

{% block body %}
  {{ super() }}
  {% block edit_form %}
    {% call lib.form_tag(action=action) %}
        {{ lib.render_form_fields(form, form_opts=form_opts) }}
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 submit-row">
                <input name="_continue_editing" type="submit" class="btn btn-primary" value="{{ _gettext('Save') }}" />
                <a href="{{ return_url }}" class="btn btn-danger" role="button">{{ _gettext('Cancel') }}</a>
            </div>
        </div>
    {% endcall %}
  {% endblock %}
{% endblock %}