{% extends 'admin/model/create.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>

{% endblock %}
{% block body %}
    {% block navlinks %}
      {{ super() }}
    {% endblock %}
    {% block create_form %}
    <span class="info-text">
        Create site<span class="info fa-info-circle fa-sm" title="Create a site by providing a name and zooming into the location on the map or manually typing its longitude
        and latitude coordinates."></span>
    </span>
      {{ super() }}
    {% endblock %}
    <!-- add a leaflet map -->
    <div id="map" style="height: 420px; margin-top: 2em; margin-bottom: 2em;"></div> <!--; margin-top: 2em; margin-bottom: 2em;"></div>-->
{% endblock %}

{% block tail %}
    {{ super() }}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin="">
    </script>
    <script src="{{ url_for('static', filename='map_create.js') }}"></script>

{% endblock %}