{% extends 'admin/master.html' %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock head %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>OpenRiverCam Dashboard</h1>
            <p>OpenRiverCam is operational software to estimate river flows from movies for several sites under your
                management, and establish and maintain rating curves.</p>
            <img src="{{ url_for('static', filename='img/front.jpg') }}"  style="width:60%;" />

            <p>
                <i class="fa fa-question-circle-o"></i>
                <a href="https://openrivercam.readthedocs.io" target="_blank">https://openrivercam.readthedocs.io</a>
            </p>
            <p>
                <i class="fa fa-github"></i>
                <a href="https://github.com/TAHMO/OpenRiverCam" target="_blank">https://github.com/TAHMO/OpenRiverCam</a>
            </p>

        </div>
    </div>
    <p>
                This program is free software: you can redistribute it and/or modify it under the terms of the <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank">GNU
                General Public License </a> as published by the Free Software Foundation, version 3. </p>
    <p>&copy <a href="https://www.tahmo.org" target="_blank">TAHMO</a> and <a href="https://www.rainbowsensing.com/" target="_blank">Rainbow Sensing</a></p>
{% endblock body %}
